	#noborder {
		border: none;
	}
	
	.cardlist {
		list-style-type: circle;
		padding-left: 5px;
	}

	.bar.bar-stable .title {
    	margin: 0 35px 0 35px;
    }
    
    .shevron {    	
        font-size: 35px;  
        padding-right: 10px;
        border: none;
    }
    .toggle {
    	height: 40px;
		margin-top: -11px;
		top: 5px;
		right: -6px;
		width: 49px;
		border: none;
    }
    .item-toggle, .item-toggle.item-complex .item-content {
  		padding-right: 61px;
	}
    #expandedList {
        background: #7db9e8;
        background: -moz-linear-gradient(top,  #7db9e8 0%, #7db9e8 0%, #207cca 61%, #3a6699 99%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(0%,#7db9e8), color-stop(61%,#207cca), color-stop(99%,#3a6699));
        background: -webkit-linear-gradient(top,  #7db9e8 0%,#7db9e8 0%,#207cca 61%,#3a6699 99%);
        background: -o-linear-gradient(top,  #7db9e8 0%,#7db9e8 0%,#207cca 61%,#3a6699 99%);
        background: -ms-linear-gradient(top,  #7db9e8 0%,#7db9e8 0%,#207cca 61%,#3a6699 99%);
        background: linear-gradient(to bottom,  #7db9e8 0%,#7db9e8 0%,#207cca 61%,#3a6699 99%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#3a6699',GradientType=0 );
    }
    .animate-if.ng-enter, .animate-if.ng-leave {
        -webkit-transition: 1s linear all;
        -moz-transition: 1s linear all;
        -ms-transition: 1s linear all;
        -o-transition: 1s linear all;
        transition: 1s linear all;
    }
    .animate-if.ng-enter {
        max-height: 0;
        opacity: 0;
    }
    .animate-if.ng-enter.ng-enter-active {
        max-height: 999px;
        opacity:1;
    }
    .animate-if.ng-leave {
        max-height: 999px;
        opacity:1;
    }
    .animate-if.ng-leave.ng-leave-active {
        max-height: 0;
        opacity:1;
    }

    ol {
        color: #ccc;
        list-style-type: none;
    }

    ol li {
        position: relative;
        font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
        margin-bottom: -12px;
        top: -26px;
    }

    .listitem {
        font: 24px/1.5 Helvetica, sans-serif;
        padding-left: 60px;
        color: white;
        padding-top: 25px;
    }

    .lispan {
        position: absolute;
    }

    p a {
        color: white;
    }