<ion-view view-title="{{pageconf.name}}" id="pageconf">
    <style>
	    #story {
	    	padding: 0;
	    }
        #roomlogin:hover {
            color: #0a9ec7;
        }
        #loginroom:hover {
            color: #0a9ec7;
        }
        .pageconf {
            padding: 45px 0 0 0 ;
        }
    </style>    
    <ion-header-bar class="bar-stable" style="height: 50px" >
        <h1 class="" style="margin-top: -8px;">Page(s)</h1>    
        <button ng-if="pageconf.page.current.hidden !== undefined" class="button button-icon button-clear ion-bug" style="color:red;" ng-click="pageconf.displayError()">{{pageconf.page.current.hidden.error.length+1}}</button>
    </ion-header-bar>
    <ion-content class="padding pageconf" scroll="true">    
   		<div class="list">
		 <label class="item item-input " ng-repeat="p in pageconf.pages">
		    <button type="button" class="button button-icon button-clear ion-arrow" ng-click="pageconf.goToPage(p)"></button>
		    <div class="input-label" ng-click="pageconf.goToPage(p)">
		      {{p.title}}
		    </div>		   
		  </label>
		</div>
    </ion-content>
</ion-view>
