
<!doctype html>
<html ng-app="game">
    <head>
        <!--link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet"-->
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-resource.min.js"></script>
        <script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.1.0.js"></script>
		<script src="http://home.orionhub.org:8080/weolopez/components/plan/game.js"></script>
    </head>
    <body >
		<div>
<div ng-controller="gameCtrl" style="font:bold 12px  'Lucida Grande', Arial, Helvetica, sans-serif;">
        <h4>JavaScript Games</h4>
        <input type="text" ng-model="search" class="search-query" placeholder="Search">
        <table>
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Description</th>
                    <th>
                        <button class="btn btn-primary" ng-click="createDialog()">New</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Game in Games | filter:search | orderBy:'name'">
                    <td><a href="{{Game.site}}" title = "{{Game.description}}" target="_blank">{{Game.name}}</a></td>
                    <td><button class="btn btn-primary" ng-click="editDialog(Game._id.$oid)">Edit</button></td>
                </tr>
            </tbody>
        </table>
</div>


</div>
<script>


var htmlStr="";
htmlStr += "<div class=\"modal-header\">";
htmlStr += "    New plan";
htmlStr += "<\/div>";
htmlStr += "<div class=\"modal-body\">";
htmlStr += "    <form name=\"myForm\">";
htmlStr += "        <div class=\"control-group\" ng-class=\"{error: myForm.name.$invalid}\">";
htmlStr += "            <label>Name<\/label>";
htmlStr += "            <input type=\"text\" name=\"name\" ng-model=\"Game.name\" required>";
htmlStr += "            <span ng-show=\"myForm.name.$error.required\" class=\"help-inline\">";
htmlStr += "                Required<\/span>";
htmlStr += "        <\/div>";
htmlStr += "";
htmlStr += "        <div class=\"control-group\" ng-class=\"{error: myForm.site.$invalid}\">";
htmlStr += "            <label>Website<\/label>";
htmlStr += "            <input type=\"url\" name=\"site\" ng-model=\"Game.site\" required>";
htmlStr += "            <span ng-show=\"myForm.site.$error.required\" class=\"help-inline\">";
htmlStr += "                Required<\/span>";
htmlStr += "            <span ng-show=\"myForm.site.$error.url\" class=\"help-inline\">";
htmlStr += "                Not a URL<\/span>";
htmlStr += "        <\/div>";
htmlStr += "";
htmlStr += "        <label>Description<\/label>";
htmlStr += "        <textarea name=\"description\" ng-model=\"Game.description\"><\/textarea>";
htmlStr += "";
htmlStr += "        <br>";
htmlStr += "        <div class=\"modal-footer\">";
htmlStr += "            <!--a href=\"#\/\" class=\"btn\">Cancel<\/a-->";
htmlStr += "            <button ng-click=\"close(result)\" class=\"btn btn-primary\" >Close<\/button>";
htmlStr += "            <button ng-click=\"save()\" ng-disabled=\"isClean() || myForm.$invalid\"";
htmlStr += "                    class=\"btn btn-primary\">Save<\/button>";
htmlStr += "            <button ng-click=\"destroy()\"";
htmlStr += "                    ng-show=\"Game._id\" class=\"btn btn-danger\">Delete<\/button>";
htmlStr += "        <\/div>";
htmlStr += "    <\/form>";
htmlStr += "<\/div>";
htmlStr += "";


angular.module('game', ['ui.bootstrap.dialog','ngResource']).

    // This is a module for cloud persistance in mongolab - https://mongolab.com
 //  angular.module('mongolab', ['ngResource']).
    factory('Game', function($resource) {
    	var Game = $resource('https://api.mongolab.com/api/1/databases' +
    		'/weolopez/collections/Games/:id',
    	{ apiKey: '50f36e05e4b0b9deb24829a0' }, {
    		update: { method: 'PUT' }
    	});
     
	    Game.prototype.update = function(cb) {
	    return Game.update({id: this._id.$oid},
	    angular.extend({}, this, {_id:undefined}), cb);
	    };
     
	    Game.prototype.destroy = function(cb) {
	    return Game.remove({id: this._id.$oid}, cb);
	    };
     
    	return Game;
    });


function gameCtrl($scope, Game, $dialog, $rootScope) {
    $scope.Games = Game.query();
    
    $scope.createOpts = {
	    backdrop: true,
	    keyboard: true,
	    backdropClick: true,
	    template:  htmlStr, // OR: 	    templateUrl: 'detail.html',
	    controller: 'CreateGameCtrl'
  	};

  $scope.createDialog = function(){
    var d = $dialog.dialog($scope.createOpts);
    d.open().then(function(result){
      if(result)
      {
        alert('dialog closed with result: ' + result);
      }
    });
  };
  
    $scope.editOpts = {
	    backdrop: true,
	    keyboard: true,
	    backdropClick: true,
	    template:  htmlStr, // OR: 	    templateUrl: 'detail.html',
	    templateUrl: 'detail.html',
	    controller: 'EditGameCtrl'
  	};

  $scope.editDialog = function(GameId){
    $rootScope.GameID = GameId;
    var d = $dialog.dialog($scope.editOpts);
    d.open().then(function(result){
      if(result)
      {
        alert('dialog closed with result: ' + result);
      }
    });
  };
  
}

function CreateGameCtrl($scope, Game, dialog) {

    $scope.save = function() {
    	$scope.Game.deck=deck.deck.slice(0);
	    Game.save($scope.Game, function(Game) {	    	
	    	dialog.close();
	    });
    };
    
	  $scope.close = function(result){
	    dialog.close(result);
	  };
}

function EditGameCtrl($scope, Game, dialog, $rootScope) {
    var self = this;
    
     
    Game.get({id: $rootScope.GameID}, function(Game) {
	    self.original = Game;
	    $scope.Game = new Game(self.original);
    });
     
    $scope.isClean = function() {
    	return angular.equals(self.original, $scope.Game);
    }
     
    $scope.destroy = function() {
	    self.original.destroy(function() {
	   	 dialog.close();
	    });
    };
     
	    $scope.save = function() {
	    	$scope.Game.update(function() {
	    		$dialog.close("Save Success");
	   		});
	    };
	      
	  $scope.close = function(result){
	    dialog.close(result);
	  };
}
var deck = {"deck": [
                    {"color": "YELLOW", "number": "0"},
                    {"color": "YELLOW", "number": "1"},
                    {"color": "YELLOW", "number": "2"},
                    {"color": "YELLOW", "number": "3"},
                    {"color": "YELLOW", "number": "4"},
                    {"color": "YELLOW", "number": "5"},
                    {"color": "YELLOW", "number": "6"},
                    {"color": "YELLOW", "number": "7"},
                    {"color": "YELLOW", "number": "8"},
                    {"color": "YELLOW", "number": "9"},
                    {"color": "YELLOW", "number": "draw two"},
                    {"color": "YELLOW", "number": "reverse"},
                    {"color": "YELLOW", "number": "skip"},
                    {"color": "RED", "number": "0"},
                    {"color": "RED", "number": "1"},
                    {"color": "RED", "number": "2"},
                    {"color": "RED", "number": "3"},
                    {"color": "RED", "number": "4"},
                    {"color": "RED", "number": "5"},
                    {"color": "RED", "number": "6"},
                    {"color": "RED", "number": "7"},
                    {"color": "RED", "number": "8"},
                    {"color": "RED", "number": "9"},
                    {"color": "RED", "number": "draw two"},
                    {"color": "RED", "number": "reverse"},
                    {"color": "RED", "number": "skip"},
                    {"color": "Green", "number": "0"},
                    {"color": "Green", "number": "1"},
                    {"color": "Green", "number": "2"},
                    {"color": "Green", "number": "3"},
                    {"color": "Green", "number": "4"},
                    {"color": "Green", "number": "5"},
                    {"color": "Green", "number": "6"},
                    {"color": "Green", "number": "7"},
                    {"color": "Green", "number": "8"},
                    {"color": "Green", "number": "9"},
                    {"color": "Green", "number": "draw two"},
                    {"color": "Green", "number": "reverse"},
                    {"color": "Green", "number": "skip"},
                    {"color": "BLUE", "number": "0"},
                    {"color": "BLUE", "number": "1"},
                    {"color": "BLUE", "number": "2"},
                    {"color": "BLUE", "number": "3"},
                    {"color": "BLUE", "number": "4"},
                    {"color": "BLUE", "number": "5"},
                    {"color": "BLUE", "number": "6"},
                    {"color": "BLUE", "number": "7"},
                    {"color": "BLUE", "number": "8"},
                    {"color": "BLUE", "number": "9"},
                    {"color": "BLUE", "number": "draw two"},
                    {"color": "BLUE", "number": "reverse"},
                    {"color": "BLUE", "number": "skip"},
                    {"color": "wild", "number": "wild"},
                    {"color": "wild", "number": "wild"},
                    {"color": "wild", "number": "wild"},
                    {"color": "wild", "number": "wild"},
                    {"color": "wild4", "number": "wild4"},
                    {"color": "wild4", "number": "wild4"},
                    {"color": "wild4", "number": "wild4"},
                    {"color": "wild4", "number": "wild4"}]
            };
</script>

    </body>
</html>
