<div>
	<script src="http://home.orionhub.org:8080/weolopez/components/plan/game.js"></script>
<div ng-controller="gameCtrl" style="font:bold 12px  'Lucida Grande', Arial, Helvetica, sans-serif;">
        <h4>JavaScript Games</h4>
        <input type="text" ng-model="search" class="search-query" placeholder="Search">
        <table>
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Description</th>
                    <th>
                        <button class="btn btn-primary" ng-click="createDialog()">New</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Game in Games | filter:search | orderBy:'name'">
                    <td><a href="{{Game.site}}" title = "{{Game.description}}" target="_blank">{{Game.name}}</a></td>
                    <td><button class="btn btn-primary" ng-click="editDialog(Game._id.$oid)">Edit</button></td>
                </tr>
            </tbody>
        </table>
</div>


</div>