/<ion-view view-title="Intro">
    <ion-side-menus enable-menu-with-back-views="false" >    
        <ion-side-menu-content>
            <ion-nav-bar class="bar-stable">
                <ion-nav-back-button>         
                </ion-nav-back-button>

                <ion-nav-buttons side="right">
                    <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
                    </button>
                </ion-nav-buttons>
            	<h1 class="title" ></h1>
            </ion-nav-bar>
            <ion-nav-view name="page" style="top:40px;"></ion-nav-view>
        </ion-side-menu-content>

        <ion-side-menu side="right" > 
            <ion-tabs class="tabs-icon-top tabs-color-active-positive">
                <!-- Dashboard Tab -->
                <ion-tab title="Story" icon-off="ion-chatbox" icon-on="ion-chatbox-working" href="#" ng-if="app.story!==undefined">
                    <ion-nav-view name="story"></ion-nav-view>
                </ion-tab>

                <!-- Chats Tab -->
                <ion-tab title="Page" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/app">
                    <ion-nav-view name="pageconf"></ion-nav-view>
                </ion-tab>

                <!-- Account Tab -->
                <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/settings">
                    <ion-nav-view name="settings"></ion-nav-view>
                </ion-tab>
            </ion-tabs>
        </ion-side-menu>
    </ion-side-menus>
</ion-view>
