
<script src="https://raw.github.com/roncioso/Flip-jQuery/master/jquery.flip.min.js"></script>
<style>
	.flippyContent {
		display: none;
	}	

</style>
<div>
	editor.html has the code for flipping and displaying orionhub.com
</div>		
		<div id="EditorPanel" class="flippyContent">
				<input id="CloseEditor" type="button" value="Close" onclick="$('#container').revertFlip();window.location.reload();">
				<iframe id="EditorFrame" style="background-color:silver;width:100%;height:850px;" name="EFrame" style="" src="https://orionhub.org/edit/edit.html#/file/weolopez/weorion/DynamicContent/index.html"></iframe>
		</div>

<script>
	$(".csi").click(function(){
		var source = $(this).attr("src");
		openEditor(source)	
	});
	
	function openEditor(source) {
		$("#EditorFrame").attr("src","https://orionhub.org/edit/edit.html#/file/weolopez/weolopez/weolopez/"+source);
		$("#fippyBox").flip({
					content: $("#EditorPanel"),
					speed: 750,
					color: 'silver',
					bgColor: 'silver',
					direction:'lr'
				});
	}
</script>

		