
			    <img src="http://i.imgur.com/6RMhx.gif" />
			    Loading Examples
			  
<script>			  
	$(function(){
    
    var $container = $('#container');
    
    $('#mini-container').masonry({
      columnWidth: 50
    });
    
 /*   $container.masonry({
      itemSelector: '.box',
      columnWidth: 240,
      isAnimated: !Modernizr.csstransitions
    });
   */ 
    // Sites using Masonry markup
    var $sites = $('#sites'),
        $loadingItem = $container.find('#loading');
        
    var ajaxError = function(){
      $loadingItem.text('Could not load examples :(');
    };
    
    // dynamically load content from twitter
    $.getJSON('https://api.twitter.com/1/statuses/user_timeline.json?screen_name=weolopez&count=5&callback=?')
      .error( ajaxError )
      .success(function( data ){
        
        // proceed only if we have data
        if ( !data || !data.length ) {
          ajaxError();
          return;
        }
        var items = [],
            item, datum;
        
        for ( var i=0, len = data.length; i < len; i++ ) {
          datum = data[i];
          item = '<div class="box col1" ><a href="' + datum.user.url + '">'
            + '<img style="width:50px;height:65px" src="' + datum.user.profile_image_url.replace('/l.', '/m.') + '" />'
            + '<b>' + datum.text + '</b>'
            + '</a></div>';
          items.push( item );
        }
        
        var $items = $( items.join('') );
        $items.imagesLoaded(function(){
          //$container.masonry( 'remove', $loadingItem );
          $('#loading').remove();
          $container.masonry().append( $items ).masonry( 'appended', $items, true );
            
        });
        
      });
    
  });
</script>