<div>

<div class="item item-input-inset" title="todolist">
		<i class="expanditem" ng-init="open=false" class="icon" ng-click="open=!open;$event.stopPropagation();" ng-class="{'ion-chevron-down': open, 'ion-chevron-right': !open}" >
		</i>
		<label class="item-input-wrapper">
			<input type="text" placeholder="url"  ng-model="s.name" ng-click="$event.stopPropagation();" style="width:100%;">
		</label>
	<ion-toggle class="toggleitem" ng-change="page.page.save();" ng-model="s.poll[page.user.user.name]" toggle-class="toggle-calm"></ion-toggle>
	</div>
	<section id="todolist" ng-if="open" class="animate-if">
		<br>
		<div>
  <ol>
    <li ng-repeat="(name, response) in s.poll"><span class="lispan">{{$index}}.</span><p class="listitem">{{name}} is {{ (response) ? 'in' : 'out';}}</p></li>
  </ol> 
		</div>	
	</section>
</div>