<!DOCTYPE html>
<!--[if IE 7]> <html class="no-js ie7"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>tData prototype</title>
        <!--[if lt IE 9]>
        <script src="js/html5/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="css/styles.css"/>
        <link rel="stylesheet" href="css/at.css"/>
        <link rel="stylesheet" href="js/bxslider/jquery.bxslider.css"/> 
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
        <style>
            #resizable {
                width: 100px;
                height: 100px;
                background: #ccc;
            }	
        </style>

        <!--<link rel="stylesheet" href="css/tdata.css"/>-->
    </head>
    <body>
        <div id="siteWrap">
            <!--header id="masthead"></header-->
            <section id="pageBody">

                <section id="topSection">
                    <div class="container_24 clearfix">
                        <div class="grid_24">
                            <div id="jumbotron">
                                <ul class="bxslider">
                                    <li>
                                        <div class="slide" data-tdata="IS5" data-tdata-replace="sliderInsert">
                                            <a href="#" title="Small Biz" target="_blank">
                                                <img src="img/smallBiz_940x270.jpg" alt="Small Biz" />
                                            </a>
                                            <span class="thumb"><img src="img/add-mobility.gif" />Small Biz</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="slide" data-tdata="IS2" data-tdata-replace="sliderInsert" >
                                            <a href="#" title="Windows Phone" target="_blank">
                                                <img src="img/windows_940x270.jpg" alt="Windows Phone" />
                                            </a>
                                            <span class="thumb"><img src="img/windows-phone.png" />Windows Phone</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="slide" data-tdata="IS3" data-tdata-replace="sliderInsert" >
                                            <a href="#" title="U-Verse" target="_blank">
                                                <img src="img/refer_940x270.jpg" alt="U-Verse" />
                                            </a>
                                            <span class="thumb"><img src="img/uverse.gif" />U-Verse</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="slide" data-tdata="IS4" data-tdata-replace="sliderInsert" >
                                            <a href="#" title="iPhone Accessories" target="_blank">
                                                <img src="img/iPhone_940x270.jpg" alt="iPhone Accessories" />
                                            </a>
                                            <span class="thumb"><img src="img/iPhone5.png" />iPhone Accessories</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="slide" data-tdata="IS1" data-tdata-replace="sliderInsert" >
                                            <a href="#" title="Best Deals" target="_blank">
                                                <img src="img/bestDeails_940x270.jpg" alt="Best Deals" />
                                            </a>
                                            <span class="thumb"><img src="img/best-deals.gif" />Best Deals</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="slide" data-tdata="IS6" data-tdata-replace="sliderInsert" >
                                            <a href="#" title="AT&amp;T Trade-in Program" target="_blank">
                                                <img src="img/Trade_940x270.jpg" alt="AT&amp;T Trade-in Program" />
                                            </a>
                                            <span class="thumb"><img src="img/recycle.png" />AT&amp;T Trade-in Program</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="slide" data-tdata="IS7" data-tdata-replace="sliderInsert" >
                                            <a href="#" title="Galaxy S&reg; III" target="_blank">
                                                <img src="img/Samsung_940x270.JPG" alt="Galaxy S&reg; III" />
                                            </a>
                                            <span class="thumb"><img src="img/SamsungGalaxyS.png" />Galaxy S&reg; III</span>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </section>


				<section id="btmSection">

					<div class="container_24 clearfix" style="padding: 1em 0;">
						<div id="promos clearfix">
							<div class="grid_8" style="width:290px;height:163px;border: 1px solid #0094D7;">
								<a href="#"><img src="img/1180002_OLAM_AddALine_FreePhones_290x163.jpg" alt=""/></a>
							</div>

							<div class="grid_8"  data-tdata="IS7" data-tdata-replace="true" style="width:290px;height:163px;visibility:hidden;border: 1px solid #0094D7;">
																<div style="position: relative;border: 1px solid #0094D7;padding: 0.5em 0.75em;-moz-box-sizing: border-box; box-sizing: border-box;width:290px;height:163px;line-height: 1;font-family: verdana, sans-serif;">
									<h1 data-tdata-name style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;color: #ff7200;margin: 0px;padding: 0px;font: bold 1em sans-serif;">Messaging Unlimited</h1>	
									<p data-tdata-description style="margin: 0em 0;font-size: 0.75em;line-height: 1.25;color: #333;width: 65%;">Unlimited messaging for everone in your family - only $30/month!</p>
									<img data-tdata-image src="http://www.att.com/catalog/en/skus/images/samsung-galaxy%20s%204%2016gb-black%20mist-160x160.jpg" style="position: absolute;right: 0;bottom: 0;width: 100px;height:100px;z-index: -1;"/>
									<a data-tdata-link href="#" style="position: absolute;bottom: 0.5em;">Learn More</a>
								</div>
							</div>
						</div>
						
							<div class="grid_8"  style="width:290px;height:163px;border: 1px solid #0094D7;">
								<a href="#"><img src="img/1180002_OLAM_AddALine_FreePhones_290x163.jpg" alt=""/></a>
							</div>


					</div>

					<div class="container_24 clearfix" style="padding: 1em 0;">
						<div id="promos clearfix">

							<div class="grid_8" style="width:228px;height:132px;">
								<a href="#"><img src="img/090910_FamilyMsgUnl_228x132.jpg" style="border: 1px solid;" alt=""/></a>
							</div>

							<div class="grid_8" data-tdata="IS1" data-tdata-replace="tdataAnimate"   style="width:228px;height:132px;visibility:hidden;">
								<div style="position: relative;border: 1px solid #0094D7;padding: 0.5em 0.75em;-moz-box-sizing: border-box; box-sizing: border-box;width: 228px;height:132px;line-height: 1;font-family: verdana, sans-serif;">
									<h1 data-tdata-name style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;color: #ff7200;margin: 0px;padding: 0px;font: bold 1em sans-serif;">Messaging Unlimited</h1>	
									<p data-tdata-description style="margin: 0em 0;font-size: 0.75em;line-height: 1.25;color: #333;width: 65%;">Unlimited messaging for everone in your family - only $30/month!</p>
									<img data-tdata-image src="http://www.att.com/catalog/en/skus/images/samsung-galaxy%20s%204%2016gb-black%20mist-160x160.jpg" style="position: absolute;right: 0;bottom: 0;width: 100px;height:100px;z-index: -1;"/>
									<a data-tdata-link href="#" style="position: absolute;bottom: 0.5em;">Learn More</a>
								</div>
							</div>

							
							<div class="grid_8"  style="width:228px;height:132px;">
								<a href="#"><img src="img/090910_FamilyMsgUnl_228x132.jpg" style="border: 1px solid;" alt=""/></a>
							</div>

						</div>
					</div>

					<div class="container_24 clearfix" style="padding: 1em 0;">
						<div id="promos clearfix">
							<div class="grid_12" data-tdata="IS4" data-tdata-replace="tdataAnimate" style="width:450px;height:225px;visibility:hidden;">
								<a href="#"><img src="img/payyourbill6.png" alt="Pay your bill"/></a>
							</div>
							<div class="grid_12" data-tdata="IS3" data-tdata-replace="true" style="width:450px;height:225px;visibility:hidden;">
								<a href="#"><img src="img/payyourbill6.png" alt="Get a $10 Reward Card"/></a>
							</div>
						</div>
					</div>

				</section>
			</section>
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="http://crypto-js.googlecode.com/files/2.5.3-crypto-min.js"></script>       
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>  
		<script src="js/bxslider/jquery.bxslider.min.js"></script>
		<script src="js/poshytip/jquery.poshytip.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/tdata.js"></script>
		<script>
			function handleSmallSpace(oldSpace, newSpace, offer) {
				newSpace.find('img').data('height', '40');
				newSpace.find('img').data('width', '40');
				newSpace.find('img').width(40);
				newSpace.find('img').height(40);
				var hig = newSpace.find('img').data('height');
				var tdataArrayObject = newSpace.parent();

				$().invSpaceSizing(tdataArrayObject);
				newSpace.find('h1').find('a').text(newSpace.find('h1').find('a').text().substring(0, 13));
				newSpace.find('p').text(newSpace.find('p').text().substring(0, 13));
				newSpace.removeClass('wide-layout-small');
				oldSpace.remove();
				newSpace.addClass('adOn').hide().css('visibility', 'visible').fadeIn();
			}

		//Delayed fading of content
			function tdataAnimate(oldSpace, newSpace) {
				oldSpace.delay(1000).fadeOut(function() {
					newSpace.addClass('adOn').hide().css('visibility', 'visible').fadeIn();
				});
			}
		//inserts content into slider and slider tooltip
			function sliderInsert(oldSpace, newSpace, offer) {
				// resize IS height to avoid tooltop overlap
				$().invSpaceSizing( newSpace.parent().height( 240 ) );
				
				var tipString = offer.name;
				if (tipString.length > 35) {
					tipString = tipString.substr(0, 30) + '...';
				}
				var img = '<img data-tdata="' + offer.inventorySpaceId + '" src="' + offer.largeImageUrl + '" style="width:auto;" />' + tipString;
				var thumb = '<span class="thumb">' + img + '</span>';

				if (offer.statusCode === '100')
					newSpace.append(thumb);
				oldSpace.fadeOut(function() {
					newSpace.addClass('adOn').hide().css('visibility', 'visible').fadeIn();
					$(this).remove();

					var arrData = $('.bxslider li').not('.bx-clone').find('.thumb');
					var arrTip = $('.tip');

					$.each(arrTip, function(iTip, elTip) {
						var tooltip = $(this).parent(),
								newTip = $(arrData[iTip]);
						tooltip.poshytip('update', newTip.html());
					});
				});
			}

			$(document).ready(function() {
				$('.bxslider').bxSlider({
					controls: false,
					slideSelector: '.bxslider>li',
					auto: true,
					autoHover: true,
					onSliderLoad: function() {
						loadTips();
					}
				});

				$().getRecommendations({
					consumptionEngine: 'ATTNET',
					pageID: '1'
				});
			});
		</script>
	</body>
</html>
