<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>TODO write content</div>
        <script>
            function texxt() {};
            var a = texxt();
            a.text = 'hello';
            alert(a.text);
            
            a.text = 'world ';
            alert(a.text);
            
            
        </script>
    </body>    
</html>
