<ion-content  header-shrink scroll-event-interval="5">
<style>
	.editable-content {
		-webkit-transition:0.5s linear all;
  		transition:0.5s linear all;	
	  background:white;
	  border:0px solid black;
	}	
	.editable-content.focused {
	  background: #E6E6E6;
	  margin:10px;
	  border:1px solid black;
	}	
	
.bar-header {
  height: 44px !important;
}
.bar-header > * {
  //margin-top: 20px !important;
}

.scroll-content{
  top:0 !important
}
</style>
	<div ng-repeat="s in page.page.current.story track by $index" 
		class="editable-content" 
		ng-class="{focused:page.isSelected($index)}"
		ng-click="page.componentClicked($index)" 
		delegate-handle="D{{$index}}"
		>
		<div 
			ng-include="page.getTemplate(s)"
		>			
		</div>
	</div>


 
  <button ng-hide="showjson" ng-click="showjson=!showjson">show json</button>
  <p ng-show="showjson" ng-click="showjson=!showjson">
  	{{page.page.current.story}}
  </p>
  <br>
  <br>
  <br>
</<ion-content>
