<ion-content>
<style>
	.editable-content {
		-webkit-transition:0.5s linear all;
  		transition:0.5s linear all;	
	  background:white;
	  padding:5px;
	  border:0px solid black;
	}	
	.editable-content.focused {
	  background: #E6E6E6;
	//  margin:10px;
	  border:1px solid black;
	}	
</style>
	<div ng-repeat="s in page.page.story track by $index" 
		class="editable-content" 
		ng-class="{focused:(s==page.story)}"
		ng-click="page.componentClicked($index, s)" 
		>
		<div 
			ng-include="page.getTemplate(s)"
		>			
		</div>
	</div>


 
  <button ng-hide="showjson" ng-click="showjson=!showjson">show json</button>
  <p ng-show="showjson" ng-click="showjson=!showjson">
  	{{page.page.story}}
  </p>
</<ion-content>
