<!DOCTYPE HTML>
<html lang="en">
<head>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
  <link rel="stylesheet" href="http://home.orionhub.org:8080/weolopez/components/mobileFlip/demo.css" />
  <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  <script type="text/javascript" src="http://home.orionhub.org:8080/weolopez/components/mobileFlip/demo.js"></script>

		<script src="https://raw.github.com/weolopez/weorion/master/weolopez/js/clientSideInclude.js"></script>	

</head>
<body>

<div class="csi" src="../mobileFlip/mobileFlip.html"></div>
		<script>			
		  clientSideInclude(); 	
		</script>
</body>
</html>
