<div style="background-color:black;height:400px;width:300px;">
	<div id="flipRoot" data-role="flip" >
	
	   <div style="background-color:green;">
	     Flip Content 1
	   </div>
	   <p style="background-color:red;">
	     Flip Content 2
	   </p>
	   <section style="background-color:blue;">
	     Flip Content 3
	   </section>
	   
	</div>   
</div>

  <script>
    // load popular photos
$(document).ready(function() {
  $("#flipRoot").flip({
    forwardDir: 'ltor',
    height: '400px',
    width: '300px',
    showpager: true,
    loop: true}));
});

  </script>