<script src="https://raw.github.com/roncioso/Flip-jQuery/master/jquery.flip.min.js"></script>
<link href="demo.css" rel="stylesheet" type="text/css">		
<script src="demo.js"></script>	

<div id="flippyBox">
        content
</div>

  <div id="FROM" class="box" style="display:none;">
    component.html is the test component for new features.	
  </div> 

<div id="TO" class="box" style="display:none;">
  <a href=""> Edit</a>
  <a href="http://jsfiddle.net/weolopez/WsrDs/4/"> jsfiddle</a>
</div>
