<div id="remote-html" >
	<style>
		#weo {
			background: #7db9e8;
			background: -moz-linear-gradient(top,  #7db9e8 0%, #7db9e8 0%, #207cca 61%, #3a6699 99%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(0%,#7db9e8), color-stop(61%,#207cca), color-stop(99%,#3a6699));
			background: -webkit-linear-gradient(top,  #7db9e8 0%,#7db9e8 0%,#207cca 61%,#3a6699 99%);
			background: -o-linear-gradient(top,  #7db9e8 0%,#7db9e8 0%,#207cca 61%,#3a6699 99%);
			background: -ms-linear-gradient(top,  #7db9e8 0%,#7db9e8 0%,#207cca 61%,#3a6699 99%);
			background: linear-gradient(to bottom,  #7db9e8 0%,#7db9e8 0%,#207cca 61%,#3a6699 99%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#3a6699',GradientType=0 );
		}
		.animate-if.ng-enter, .animate-if.ng-leave {
		    -webkit-transition: 1s linear all;
		    -moz-transition: 1s linear all;
		    -ms-transition: 1s linear all;
		    -o-transition: 1s linear all;
		    transition: 1s linear all;
		}
		 .animate-if.ng-enter {
		    max-height: 0;
		    opacity: 0;
		}
		 .animate-if.ng-enter.ng-enter-active {
		    max-height: 999px;
		    opacity:1;
		}
		 .animate-if.ng-leave {
		    max-height: 999px;
		    opacity:1;
		}
		 .animate-if.ng-leave.ng-leave-active {
		    max-height: 0;
		    opacity:1;
		}
	</style>	
	
	<script>
angular.module('component.wiki.page', [ ])
.controller('RemoteHTMLCtrl', function ($log, $timeout, $page, $http, $scope, $window, jsonPath) {
	var remoteHTML = this;
	
	$page.ifPageChanges(function() {
		$timeout(function() {
		    if (remoteHTML.s.url === $scope.s.url) return;
			remoteHTML.s = $scope.s;
        }, 1000);
	})
	
	remoteHTML.window = $window;
	remoteHTML.change = function() {
		$page.save();
	};
	remoteHTML.canExpand = function(s, canview) {
		return ((remoteHTML.s===s) && (canview) );
	}
	$scope.$watch('remoteHTML.s.url', function(value, old) {
		if ( (value === undefined) || (remoteHTML.s === undefined) ) return;
		
		if (remoteHTML.s.html === undefined) {
			remoteHTML.getHTML(function(){
				$log.debug('remoteHTML.getHTML(function(){');
			});
		}
		else {
			remoteHTML.s.data = $(remoteHTML.s.html);
			remoteHTML.s.jsondata= remoteHTML.s.data.toString();
		}
	})
	$scope.$watch('remoteHTML.s.selector', function(value, old) {
		if (value === undefined) return;
		$scope.showHTML=false;		
	})
	$scope.$watch('remoteHTML.s.jsondata', function(value, old) {
		if (value === undefined) return;
		
		if (typeof remoteHTML.s.jsondata === 'string')
			remoteHTML.s.jsondata = JsonML.fromHTMLText(remoteHTML.s.html);
	})
	$scope.$watch('remoteHTML.s.jsonpath', function(value, old) {
		if (value === undefined) return;
		remoteHTML.s.jsondata = jsonPath(JsonML.fromHTMLText(remoteHTML.s.html), remoteHTML.s.jsonpath);
		$page.save();
	})
	remoteHTML.getHTML = function(callback){
		
		    console.dir(remoteHTML.s)
		    
		if ( 	(remoteHTML.s === undefined) ||
		 		(remoteHTML.s.url === undefined) ||
		 		(remoteHTML.s.selector === undefined)
  			)		
		return;
		
		var url = 'http://allow-any-origin.appspot.com/'+remoteHTML.s.url;
		$http.get(url).
		  success(function(data, status, headers, config) {
		  	data = $(data).find(remoteHTML.s.selector);
		    if (data.length === 0) {
		    	alert('not found');
		    	$window.open(remoteHTML.s.url, '_blank');
		    	return;
		    }
		    console.dir(remoteHTML.s)
		    remoteHTML.s.data = data;		    
			remoteHTML.s.html = data.html();
		    remoteHTML.s.jsondata = JsonML.fromHTMLText(remoteHTML.s.html);
		    
			if (remoteHTML.s.jsonpath.length > 0) {
			    remoteHTML.s.jsondata = jsonPath(remoteHTML.s.jsondata, remoteHTML.s.jsonpath);
		    }
		    
		    $page.save();
		    callback();
		  })
	}

	$scope.processSelector = function() {
		if ($scope.showHTML===true) {
			$scope.showHTML=false;
			return;
		}
		remoteHTML.getHTML( function() {
				$log.debug('remoteHTML.getHTML(function(){');
			    $scope.showHTML=true;
		})
	}
	$scope.processJSONPath = function() {
		if (remoteHTML.s === undefined) return;
	
		if (remoteHTML.s.jsonpath.length > 0) {
		} else {
			remoteHTML.getHTML( function() {
					$log.debug('remoteHTML.getHTML(function(){');	
			})
			return;
		}
		
		$page.save();
		$scope.showJSON=true;	
	}
	$scope.opentab = function(url) {
		remoteHTML.window.open(url, '_blank');
	}
});     
var queue = angular.module('component.wiki.page')._invokeQueue;
for(var i=0;i<queue.length;i++) {
    var call = queue[i];
    var provider = providers[call[0]];
    if(provider) {
        provider[call[1]].apply(provider, call[2]);
    }
}

$('#remote-html').attr('ng-controller', "RemoteHTMLCtrl as remoteHTML"); 

	</script>
	<h1 ng-init="remoteHTML.s = s">{{s.name}}</h1>
	<section>
		<div class="list">		    
		  <div class="item item-input-inset" title="url">
		    <label class="item-input-wrapper">
		      <input type="text" placeholder="url"  ng-model="remoteHTML.s.url" ng-click="$event.stopPropagation();" style="width:100%;">
		    </label>
		    <i class="icon ion-refresh" ng-click="opentab(remoteHTML.s.url); $event.stopPropagation();" style="font-size: 35px;  padding-left: 10px;"></i>
		  </div>
			
		  <div class="item item-input-inset" title="selector">
		    <label class="item-input-wrapper">
		      <input type="text" placeholder="selector"  ng-model="remoteHTML.s.selector" ng-click="$event.stopPropagation();" style="width:100%;">
		    </label>
		    <i class="icon ion-refresh" ng-click="processSelector(); $event.stopPropagation();" style="font-size: 35px;  padding-left: 10px;"></i>
		  </div>
		  <section ng-bind-html="page.deliberatelyTrustDangerousSnippet(remoteHTML.s.html)">
		  </section>
			<section ng-if="showHTML" class="animate-if" >
				<pre><code>
			    	{{remoteHTML.s.html}}
				</code></pre>
			</section>		  
		    <label class="item item-input-inset" >
		      <input type="text" placeholder="jsonpath"  ng-model="remoteHTML.s.jsonpath" ng-click="$event.stopPropagation();" style="width:100%;">
		    </label>
			<section ng-if="true" class="animate-if" >
				<div>
		    		<pre class='json' json="remoteHTML.s.jsondata" pretty-json >
				</div>
			</section>
	
		</div>
	</section>
	
	
</div>  