<div id="todolistsection" ng-init="page.getStories(s)">
	<style>
	    #todolisttitle {
	    	margin: 10px;
	    }
		#todoitem {
			padding-bottom: 16px
		}
		#todolist {
			background: #7db9e8;
			background: -moz-linear-gradient(top,  #7db9e8 0%, #7db9e8 0%, #207cca 61%, #3a6699 99%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(0%,#7db9e8), color-stop(61%,#207cca), color-stop(99%,#3a6699));
			background: -webkit-linear-gradient(top,  #7db9e8 0%,#7db9e8 0%,#207cca 61%,#3a6699 99%);
			background: -o-linear-gradient(top,  #7db9e8 0%,#7db9e8 0%,#207cca 61%,#3a6699 99%);
			background: -ms-linear-gradient(top,  #7db9e8 0%,#7db9e8 0%,#207cca 61%,#3a6699 99%);
			background: linear-gradient(to bottom,  #7db9e8 0%,#7db9e8 0%,#207cca 61%,#3a6699 99%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#3a6699',GradientType=0 );
		}
		.animate-if.ng-enter, .animate-if.ng-leave {
		    -webkit-transition: 1s linear all;
		    -moz-transition: 1s linear all;
		    -ms-transition: 1s linear all;
		    -o-transition: 1s linear all;
		    transition: 1s linear all;
		}
		 .animate-if.ng-enter {
		    max-height: 0;
		    opacity: 0;
		}
		 .animate-if.ng-enter.ng-enter-active {
		    max-height: 999px;
		    opacity:1;
		}
		 .animate-if.ng-leave {
		    max-height: 999px;
		    opacity:1;
		}
		 .animate-if.ng-leave.ng-leave-active {
		    max-height: 0;
		    opacity:1;
		}
			 
		ol {
		  color: #ccc;
		  list-style-type: none;
		}
		 
		ol li {
		  position: relative;
		  font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
		  margin-bottom: -12px;
		  top: -26px;
		}
		 
		li p {
		  font: 24px/1.5 Helvetica, sans-serif;
		  padding-left: 60px;
		  color: white;
		  padding-top: 25px;
		}
		 
		.lispan {
		  position: absolute;
		}
		
		p a {
				    color: white;
				}
	</style>	
	
	<script>
angular.module('component.wiki.page', [ ]).controller('TodoItemCtrl', function ($page) {
	var todo = this;
	todo.page=$page;
	todo.change = function() {
		$page.save();
	}
	todo.canExpand = function(s) {
		return true;//$page.currentStory===s.name;
	}
});     
var queue = angular.module('component.wiki.page')._invokeQueue;
for(var i=0;i<queue.length;i++) {
    var call = queue[i];
    var provider = providers[call[0]];
    if(provider) {
        provider[call[1]].apply(provider, call[2]);
    }
}

$('#todolistsection').attr('ng-controller', "TodoItemCtrl as todo"); 

	</script>
	
	<div class="item item-input-inset" title="todolist">
		<i ng-init="open=false" class="icon" ng-click="open=!open;$event.stopPropagation();" ng-class="{'ion-chevron-down': open, 'ion-chevron-right': !open}" style="font-size: 35px;  padding-right: 10px;">
		</i>
		<label class="item-input-wrapper">
			<input type="text" placeholder="url"  ng-model="s.name" ng-click="$event.stopPropagation();" style="width:100%;">
		</label>
		<a href="#/app/wiki/{{s.page}}/pageconf/"><i class="icon ion-android-open" style="font-size: 35px;  padding-left: 10px;">
		</i></a>
	</div>
		  
	<section id="todolist" ng-if="open" class="animate-if">
		<br>
		<div>
		  <ol>
		    <li ng-repeat="todoitem in page.t | filter: {type : 'todoitem'}">
				<span class="lispan">{{$index}}.</span><p>{{todoitem.name}} {{todoitem.type}}</p>
			</li>
		  </ol>
		</div>	
	</section>
</div>  