<!doctype html>
<html lang="en" ng-app="planController">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width; height=device-height, initial-scale=1.0; maximum-scale=1.0;" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        
        
        <link rel="stylesheet" href="css/app.css">
		<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>	
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>	
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-resource.min.js"></script>	
		<script src="https://raw.github.com/angular-ui/bootstrap/master/src/transition/transition.js"></script>	
		<script src="js/app.js"></script>	
		<script src="js/services.js"></script>	
		<script src="js/controllers.js"></script>	
		<script src="js/filters.js"></script>	
		<script src="https://raw.github.com/angular-ui/bootstrap/master/src/dialog/dialog.js"></script>	
		<script src="js/directives.js"></script>	
		<script src="js/buttonDialog.js"></script>	
		
        <title>weo</title>
        
        <style type="text/css">
        .row {
        		margin-left: 0px;
		}
        </style>
    </head>
    <body ng-cloak>

        <div class="left col" ng-controller="ListCtrl">
            <div class="header row">
                <input id="searchField" type="text" ng-model="search" class="search-query" placeholder="Search" autofocus="autofocus">
            </div>
            <div class="body row scroll-y">
                <ul class="listview">
                    <li ng-repeat="project in projects | filter:search | orderBy:'name'">
                        <a href="{{project.site}}" title="{{project.description}}">{{project.name}}</a>
                        <button class="btn btn-primary" ng-click="editDialog(project._id.$oid)" style="right:5px;position: absolute;">Edit</button>
                    </li>
                </ul>
            </div>
            <div class="footer row">
				<button class="btn btn-primary" ng-click="createDialog()">New</button>
            </div>
        </div>
        <div class="right col">
            <div class="header row">
				weo's demo site.
				<input id="commandLine" type="text" ng-model="commandLine" class="search-query" placeholder="Enter Command">
            </div>
            <div class="body row scroll-y">
            
                <div>
                   <p>... and here's a horizontally-scrollable thing:</p>

                    <div class="scroll-x tiles">
                        <ul>
                        	<li>
						    	<div class="componentBox" style="overflow:hidden;height:400px;width:230px;">
							        <div data-role="content" style="overflow: scroll;-webkit-overflow-scrolling: touch;height:425px;width:255px;" >
							        	<ng-include src="'components/partials/componentList.html'"></ng-include>
							        </div>
						        </div>
					        </li>
                        	<li>
						    	<div class="componentBox" style="overflow:hidden;height:400px;width:230px;">
							        <div data-role="content" style="overflow: scroll;-webkit-overflow-scrolling: touch;height:425px;width:255px;" >
							        	<ng-include src="'components/angularjs/angularjs.html'"></ng-include>
							        </div>
						        </div>
					        </li>
					        
                        	<li>
						    	<div class="componentBox" style="overflow:hidden;height:400px;width:230px;">
							        <div data-role="content" style="overflow: scroll;-webkit-overflow-scrolling: touch;height:425px;width:255px;" >
							        	<ng-include src="'components/dynamicContent/dynamicContent.html'"></ng-include>
							        </div>
						        </div>
					        </li>
                        	<li>
						    	<div class="componentBox" style="overflow:hidden;height:400px;width:230px;">
							        <div data-role="content" style="overflow: scroll;-webkit-overflow-scrolling: touch;height:425px;width:255px;" >
							        	<ng-include src="'components/plan/plan.html'"></ng-include>
							        </div>
						        </div>
					        </li>
                        	<li>
						    	<div class="componentBox" style="overflow:hidden;height:400px;width:230px;">
							        <div data-role="content" style="overflow: scroll;-webkit-overflow-scrolling: touch;height:425px;width:255px;" >
							        	<ng-include src="'components/component/component.html'"></ng-include>
							        </div>
						        </div>
					        </li>
                        </ul>
                    </div>
                
                
                    <h3>Here are some other controls</h3>
                    <ul class="listview inset">
                        <li><a href="#/view1">view1</a></li>
                        <li><a href="#/view2">view2</a></li>
                    </ul>

                    <div ng-view></div>

                    <div>Angular seed app: v<span app-version></span></div>



                    <p>That's enough.</p><p>That's enough.</p><p>That's enough.</p>
                </div>
            </div>
            <div class="footer row">
                <button id="leftToggle" class="btn btn-primary" onclick="toggleLeft()">Close</button>
                <script>
                    document.getElementById("searchField").focus();
                	function toggleLeft() {
                		if ($("#leftToggle").text()==="Close") {
                			$(".right.col").css('left','0px');
                			$(".body.row").css('top','0px');
                			$(".header.row").css('height','0px');
                            $(".header.row").css('line-height','0px');
                			$("#leftToggle").text("Open");
                		} else {
                			$(".right.col").css('left','250px');
                			$(".body.row").css('top','75px');
                			$(".header.row").css('height','75px');
                            $(".header.row").css('line-height','75px');
							$("#leftToggle").text("Close");
                		}
                	}
                </script>
            </div>
        </div>

        <!-- Touch scrolling -->
        <!--[if !IE]><!-->
<script src="js/browsers.js"></script>
<script>
angular.module('planController', ['buttonDialogModule']);


</script>
    </body>
</html>
