<!doctype html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title>My AngularJS App</title>
        <link rel="stylesheet" href="css/app.css"/>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

    </head>
    <body>
        <ul class="menu">
            <li><a href="#/view1">view1</a></li>
            <li><a href="#/view2">view2</a></li>            
        </ul>

        <div ng-view ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">

            <div>Angular seed app: v<span app-version></span></div>
        </div>
        <script src="lib/jquery/jquery.js"></script>
        <script src="lib/angular/angular1.2.js"></script>
        <script src="lib/angular/angular-animate1.2.js"></script>
        <script src="lib/angular/angular-route1.2.js"></script>
        <script src="lib/bootstrap/bootstrap3.0.min.js"></script>
        <script src="lib/mongolabResourceHttp/mongolabResourceHttp.js"></script>
        <script src="lib/ng-grid/ng-grid-2.0.7.debug.js"></script>
        <script src="lib/bootstrap/ui-bootstrap-tpls-0.5.0.js"></script>  
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>
    </body>
</html>
