<!--div class="FlipTo" style="display:none;" -->
<div id="weo" style="top:0;">
			<div style="float: left;margin-left: 10px;" align="left" >
                <a class="OpenEditor" target="EditorFrame" style="color: #FFFFFF;" href="https://orionhub.org/edit/edit.html#/file/weolopez/weorion/DynamicContent/index.html">Edit Page</a>
                <a class="OpenEditor" target="EditorFrame" style="color: #FFFFFF;margin-left: 10px;" href="https://orionhub.org/edit/edit.html#/file/weolopez/weorion/DynamicContent/recommendationResponse.json">Edit Dynamic Content</a>
            </div>
</div>            