
<footer id="footer">
<form method="POST" action="http://www.att.com/esupport/main.jsp?App_ID=PBY" target="_top" name="mfssfrm1">
<input type="hidden" name="memberID" id="memberID" value="" />
<div id="attLogoFoot">ATT Logo</div>
<div id="footerUrls">
<ul class="attOnWeb">
<li class="first">AT&amp;T on the Web</li>
<li id="attComFoot"><a href="/s/context.dll?id=1400&type=clickthru&name=global.footer.att.attcom&redirecturl=http://www.att.com/" target="_top" class="imgLeft"><img src="http://www.att.net/design/CDLS20/img/icons/attCom.png" alt="att.com" />att.com</a><br />
Shop. Service. Support.</li>
<li id="attNetFoot" class="last"><a href="/s/context.dll?id=1400&type=clickthru&name=global.footer.att.attnet&redirecturl=http://www.att.net/" target="_top" class="imgLeft"><img src="http://www.att.net/design/CDLS20/img/icons/attNet.png" alt="att.net" />att.net</a><br />
E-mail, News, Weather &amp; More</li>
</ul>
<ul class="footerLinks">
<li class="first"><a href="javascript:fsubmit()">AT&amp;T Support</a></li>
<li><a href="/s/context.dll?id=1400&type=clickthru&name=global.footer.att.adinfo&redirecturl=http://www.att.net/legal/advertising" target="_top">Advertise with Us</a></li>
<li><a href="/s/context.dll?id=1400&type=clickthru&name=global.footer.att.TOS&redirecturl=http://www.att.com/shop/internet/att-internet-terms-of-service.jsp" target="_blank">Terms of Service</a></li>
<li><a href="/s/context.dll?id=1400&type=clickthru&name=global.footer.att.copyright&redirecturl=http://info.yahoo.com/copyright/details.html" target="_top">Copyright</a></li>
<li><a href="/s/context.dll?id=1400&type=clickthru&name=global.footer.att.privacy&redirecturl=http://att.yahoo.com/privacy" target="_top">Privacy Policy</a></li>
<li><a href="/s/context.dll?id=1400&type=clickthru&name=global.footer.att.aboutourads&redirecturl=http://info.yahoo.com/privacy/us/yahoo/attandyahoo/adchoices.html" target="_top">About Our Ads</a></li>
<li><a href="/s/context.dll?id=1400&type=clickthru&name=global.footer.att.AUP&redirecturl=http://www.corp.att.com/aup/" target="_top">Acceptable Use Policy</a></li>
<li class="last"><a href="/s/context.dll?id=1400&type=clickthru&name=global.footer.att.feedback&redirecturl=http://att.yahoo.com/feedback1?.done=http://att.my.yahoo.com&.from=fpbeta" target="_top">Feedback</a></li>
</ul>
<div class="copyright"><span id="USOlympic"><a id="USOurl" href="/s/context.dll?id=1400&type=clickthru&name=global.footer.att.USOCLogo&redirecturl=http://fanzone.att.net/teamusa" target="_top">US Olympics</a><a id="YPurl" href="/s/context.dll?id=1400&type=clickthru&name=global.footer.att.YPLogo&redirecturl=http://www.yellowpages.com" target="_top">Yellow Pages</a></span>
<p><a href="/s/context.dll?id=1400&type=clickthru&name=global.footer.att.IP&redirecturl=http://www.att.com/gen/privacy-policy?pid=2587" target="_top">Copyright &copy; 2013 AT&amp;T Intellectual Property</a>. All rights reserved.<br />
AT&amp;T and the AT&amp;T logo are trademarks of AT&amp;T Intellectual Property.</p>
</div>
</div>
</form>
</footer>
<div id="adminLinks" class="adminChannelWrapper floatfix">
<br />
</div>
</div>

