<div id="siteWrap">
<script>
function fsubmit(){
//alert(document.mfssfrm.memberID.value);
document.mfssfrm.submit();
}
//the variable g_Name is needed to check if a user is logged in when playing the video.
//if no user is logged in, we redirect to the login page.
var g_Name = '';
</script>

<header id="masthead"> 
<nav id="GlobalNav">
<div class="globalNavWrap">
<ul>
<li class="selected"><a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.globalTopNav.attNet&redirecturl=http://att.yahoo.com/" title="att.net" data-ct="att|masthead|globalTopNav|att.net">att.net</a></li>
<li><a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.globalTopNav.attCom&redirecturl=http://www.att.com" title="att.com" data-ct="att|masthead|globalTopNav|att.com">att.com</a></li>
<li class="last"><a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.globalTopNav.uverse&redirecturl=http://uverseonline.att.net/" title="uverse.com" data-ct="att|masthead|globalTopNav|uverse.com">uverse.com</a></li>
</ul>
<ul class="gnMoreLinks">
<li class="last"><a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.globalTopNav.spanish&redirecturl=http://elportal.att.net" title="En Espa&ntilde;ol" data-ct="att|masthead|globalTopNav|spanish">En Espa&ntilde;ol</a></li>
</ul>
</div>
</nav>
<section> 
<a class="attLogo" href="/s/context.dll?id=135&type=clickthru&name=att.masthead.logo.attLogo&redirecturl=http://att.yahoo.com/" data-ct="att|masthead|logo|attLogo">att.net</a> 
<script src="http://www.att.net/design/cdls20http://www.att.net/js/search.js"></script>
<div id="searchMod">
<form target="_top" action="http://www.att.net/s/s.dll" method="GET" id="fs" name="fs" onsubmit="return OnSubmitForm();">
<div id="searchYhoo">
<input type="hidden" id="id" value="135" name="id" />
<input type="hidden" id="clickthru" value="clickthru" name="type" />
<input type="hidden" id="name" value="" name="name" />
<input type="hidden" id="decodefirst" value="1" name="decodefirst" />
<input type="hidden" id="redirecturl" value="/s/userinfo.dll?ep=1091" name="redirecturl" />
<input type="hidden" id="returl" value="" name="returl" />
</div>
<div id="searchParams">
<input type="hidden" id="spage" name="spage" />
<input type="hidden" id="searchType" name="searchType" />
<input type="hidden" id="source" name="source" />
<input type="hidden" id="url_searchType" name="url_searchType" value=""/>
<input type="hidden" id="url_Source" name="url_Source" value=""/>
<input type="hidden" id="url_Channel" name="url_Channel" value=""/>
<input type="hidden" id="url_HTTPCobrand" name="url_HTTPCobrand" value="http://www.att.net"/>
<input type="hidden" id="url_ch" name="ch" value="search" />
<input type="hidden" id="IPTYPE" name="IPTYPE" value="99.2.168.46" />
<input type="hidden" id="searchcobrand" name = "searchcobrand" value = "/s/s.dll" />
</div>
<input type="hidden" id="Hidden2" name="channel" value="at"   />
<div class="searchNav">
<ul>
<li><a href="#" id="web" name="srchm" title="Web Search" onclick="searchToggle(0); return false;">Web</a></li>
<li><a href="#" id="yp"  name="srchm" title="Local Search" onclick="searchToggle(1); return false;">Yellow Pages</a></li>
<li><a href="#" id="ppl" name="srchm" title="People Search" onclick="searchToggle(2); return false;">People</a></li>
<li><a href="#" id="img" name="srchm" title="Images Search" onclick="searchToggle(3); return false;">Images</a></li>
<li><a href="#" id="vid" name="srchm" title="Video Search" onclick="searchToggle(4); return false;">Video</a></li>
<li class="moreLink"><a href="http://tools.search.yahoo.com/about/forsearchers.html?fr=att-portal" id="more" name="more" title="More" target="_top" data-ct="att|masthead|search|more">More</a></li>
</ul>
</div>
<div class="searchInput">
<span class="txtLong">
<label for="fp"> Search for </label>
<input type="text" maxlength="45" name="string" id="fp" size="55" value="" class="searchTxt" />
</span>
<div id="ypSrch">
<span id="srchIn">in</span>
<span class="txtShort">
<label for="where"> Where </label>
<input type="text" id="where" name="where" size="34" maxlength="45"  value="" title="Enter Location" class="searchTxt" />
</span>
</div>
<input id="sm" name="sm" type="submit" value="Web" class="searchBtn" data-ct="att|masthead|search|Search Web" />
</div>
<div id="pbyLogo"></div>
</form>
</div>
<a class="yahooLogo" href="/s/context.dll?id=135&type=clickthru&name=att.masthead.logo.yLogo&redirecturl=http://att.yahoo.com/" data-ct="att|masthead|logo|yLogo">yahoo.com</a>
<nav class="mainNav">
<ul>
<li><a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.mainNav.home&redirecturl=http://att.yahoo.com/" title="Home" data-ct="att|masthead|main nav|home">Home</a></li>
<li><a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.mainNav.sports&redirecturl=http://att.yahoo.com/sports/" title="Sports" data-ct="att|masthead|main nav|sports">Sports</a></li>
<li><a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.mainNav.entertainment&redirecturl=http://att.yahoo.com/entertainment/" title="Entertainment" data-ct="att|masthead|main nav|entertainment">Entertainment</a></li>
<li><a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.mainNav.news&redirecturl=http://att.yahoo.com/news" title="News" data-ct="att|masthead|main nav|news">News</a></li>
<li><a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.mainNav.finance&redirecturl=http://att.yahoo.com/finance" title="Finance" data-ct="att|masthead|main nav|finance">Finance</a></li>
<li><a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.mainNav.living&redirecturl=http://att.yahoo.com/living" title="Living" data-ct="att|masthead|main nav|living">Living</a></li>
<li class="last">
<a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.mainNav.more&redirecturl=http://www.att.net/webdirectory" title="More" data-ct="att|masthead|main nav|more">More</a>
<nav class="subNav clearfix">
<div class="topCap"></div>
<div class="wrap clearfix">
<ul>
<li><a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.dropNav.autos&redirecturl=http://autos.yahoo.com/" title="Autos" data-ct="att|masthead|dropNav|autos">Autos</a></li>
<li><a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.dropNav.auctions&redirecturl=http://www.att.net/auctions" title="eBay" data-ct="att|masthead|dropNav|auctions">eBay</a></li>
<li><a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.dropNav.memberCenter&redirecturl=http://att.yahoo.com/myaccount" title="Member Center" data-ct="att|masthead|dropNav|memberCenter">Member Center</a></li>
<li><a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.dropNav.personals&redirecturl=http://yahoo.match.com/" title="Personals" data-ct="att|masthead|dropNav|personals">Personals</a></li>
<li><a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.dropNav.shopping&redirecturl=http://shopping.yahoo.com/" title="Shopping" data-ct="att|masthead|dropNav|shopping">Shopping</a></li>
<li><a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.dropNav.travel&redirecturl=http://travel.yahoo.com/" title="Travel" data-ct="att|masthead|dropNav|travel">Travel</a></li>
</ul>
<ul class="col2">
<li><a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.dropNav.yScreen&redirecturl=http://screen.yahoo.com/" title="Yahoo! Screen" data-ct="att|masthead|dropNav|yScreen">Yahoo! Screen</a></li>
<li><a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.dropNav.yShine&redirecturl=http://shine.yahoo.com/" title="Yahoo! Shine" data-ct="att|masthead|dropNav|yShine">Yahoo! Shine</a></li>
<li><a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.dropNav.attOffers&redirecturl=http://www.att.net/products" title="AT&amp;T Offers" data-ct="att|masthead|dropNav|attOffers">AT&amp;T Offers</a></li>
<li><a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.dropNav.attGames&redirecturl=http://games.att.net/" title="AT&amp;T Games" data-ct="att|masthead|dropNav|attGames">AT&amp;T Games</a></li>
<li><a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.dropNav.attSoftwareCenter&redirecturl=http://att.software.yahoo.com/" title="AT&amp;T Sofware Center" data-ct="att|masthead|dropNav|attSoftwareCenter">AT&amp;T Software Center</a></li>
<li><a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.dropNav.watchEspn&redirecturl=http://att.net/ESPN3" title="Watch ESPN" data-ct="att|masthead|dropNav|WatchEspn">Watch ESPN</a></li>
</ul>
<div class="clearfix"></div>
</div>
</nav>
</li>
</ul>
</nav>
<a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.mainNav.mail&redirecturl=http://att.yahoo.com/mail" class="mailLink" data-ct="att|masthead|main nav|mail"><span>Mail</span><br />Check email</a>
</section>
<div class="subChannels">
<nav class="subChannelNav">
<ul>
<li class="last"><a href="/s/s.dll?ep=16253&ch=at" data-ct="att|masthead|channel nav|AT&amp;T Offers" class="active">AT&amp;T Offers</a></li>
</ul>
</nav><div id="signIn">
<ul>
<li><a href="#" id="url_login" data-ct="att|masthead|support nav|log in"><strong>Hi, please Sign In</strong></a></li>
<li id="attSignUp"><a href="/s/s.dll?spage=host/getatt.htm" data-ct="att|masthead|support nav|sign up"><strong>Sign Up</strong></a></li>
<li id="attSup" class="last"><a href="/s/context.dll?id=135&type=clickthru&name=att.masthead.supportNav.support&redirecturl=http://www.att.com/esupport/main.jsp?App_ID=PBY" data-ct="att|masthead|support nav|support">AT&amp;T Support </a></li>
</ul>
</div>
</div>
</header>
