<ion-view view-title="{{pageconf.name}}" id="pageconf">
    <style>
	    #story {
	    	padding: 0;
	    }
        #roomlogin:hover {
            color: #0a9ec7;
        }
        #loginroom:hover {
            color: #0a9ec7;
        }
        .users {
          //  margin-top: 50px;
	    	padding: 0;
        }
    </style>    
    <ion-header-bar class="bar-stable" style="height: 50px" >
        <h1 class="" style="margin-top: -8px;">{{pageconf.name}}</h1>
        <!--a id="roomlogin" class="button button-icon icon ion-share right" ng-click="shareRoom()"></a>
        <a id="loginroom" class="button button-icon icon ion-log-in right" ng-click="loginRoom()"></a-->
    </ion-header-bar>
    
    <ion-content class="padding users" scroll="true">    
   		<div class="list">
		 <label class="item item-input item-select">
		    <button type="button" class="button button-icon button-clear ion-plus-circled" ng-click="pageconf.add()"></button>
		    <div class="input-label" ng-click="pageconf.add()">
		      Add Story
		    </div>
		    <select ng-model="pageconf.model.id" ng-init="pageconf.model.id = 'html'">
		      <option value="html">html</option>
		      <option value="paragraph" selected>paragraph</option>
		      <option value="trust-html">trust-html</option>
		      <option value="remote-html">remote-html</option>
		      <option value="todolist" selected>todolist</option>
		      <option value="todoitem">todoitem</option>
		    </select>
		  </label>
		 <label class="item item-input " ng-if="pageconf.story !== undefined">
		    <button type="button" class="button button-icon button-clear ion-plus-circled" ng-click="pageconf.delete()"></button>
		    <div class="input-label" ng-click="pageconf.delete()">
		      Delete Story {{pageconf.story.name}}
		    </div>		   
		  </label>
		</div>
    </ion-content>
</ion-view>
