<!DOCTYPE html>
<html>
<head>
    <script src="http://polymer-project.appspot.com/polymer/polymer.min.js"></script>
    <link rel="import" href="http://home.orionhub.org:8080/weolopez/polymer-import.html">
    <link rel="import" href="http://home.orionhub.org:8080/weolopez/components/plan/weo-plan.html">
    
    
    <link rel="import" href="https://raw.github.com/Polymer/toolkit-ui/master/elements/g-ratings.html">
    

</head>
<body>
<just-a-container age="33"></just-a-container>
<weo-plan age="40"></weo-plan>



</body>
</html>