
<div class="modal-header">
        <h3>Select Consumption Engine</h3>
    <div data-collapse="isCollapsed">
        <h3>Edit Engine</h3>
    </div>
</div>
<div class="modal-body">
    <div data-collapse="!isCollapsed">
        <div class="row-fluid clearfix">
            <div class="span6">
                <label for="pageName">Consumptions Engines: </label>
                <select id="pageName" ng-model="ce" ng-options="p as p.name for p in ces" ></select>
            </div>
        </div>

    </div>

    <form>
        <div data-collapse="isCollapsed">
            <div class="row-fluid clearfix ">
                <div class="span6">
                    <label for="ceName" class="pull-right">Consumption Engine Name:
                        <input id="ceName" ng-model="ce.name" type="text" size="20" required/></label>
                    <label for="ceProdURL" class="pull-right">Production URL:
                        <input id="ceProdURL" ng-model="ce.prodURL" type="text" size="60" required/></label>
                </div>
                <div class="span6">
                    <label for="ceTestURL" class="pull-right">Test URL:
                        <input id="ceTestURL" ng-model="ce.testURL" type="text" size="60"/></label>
                    <label for="ceDevURL" class="pull-right">Development URL:
                        <input id="ceDevURL" ng-model="ce.devURL" type="text" size="60"/></label>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div data-collapse="!isCollapsed">
        <button ng-click="openCEModal()" class="btn btn-primary pull-left">Edit Consumption Engines</button>
        <button class="btn btn-secondary" ng-click="cancelUserChanges()">Cancel</button>
        <button class="btn btn-primary" ng-click="saveUser()">Save</button>
    </div>
    <div data-collapse="isCollapsed">
        <button class="btn btn-primary" ng-click="newCE()">New Consumption Engine</button>
        <button class="btn btn-danger" ng-click="deleteCE()" ng-disabled="!ce.$id()">Delete</button>
        <button class="btn btn-secondary" ng-click="cancelCEChanges()">Cancel</button>
        <button class="btn btn-primary" ng-click="saveCE()">Save</button>
    </div>
</div>