

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div id="IS1" class="span4" >
            <img class="img-circle" src="img/ATT-logo.jpg">
            <h2>List Inventory Spaces</h2>
            <p>List, Add and Edit Inventory Spaces configuration details.</p>
            <p><a class="btn" href="#/list/ATTNET">Edit Catalog</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
            <img class="img-circle" src="img/ATT-logo.jpg">
            <h2>User Config</h2>
            <p>Edit User</p>
            <p><a class="btn" href="#/users">User Config</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
            <a href="">
                <img class="img-circle" src="img/ATT-logo.jpg"></a>
            <h2>CE Config</h2>
            <p>Manage CE configuration, including adding Consumption Engines.</p>
            <p><a class="btn" href="#/ces">CE Config</a></p>
        </div><!-- /.span4 -->
    </div><!-- /.row -->
</div>