
<div class="modal-header">
    <form name="form">
        <div class="row-fluid clearfix">
            <div class="span6" style="text-align: left;">    
                <h3>List Inventory Spaces for {{currentUser.ce.name}}
                </h3>  
            </div>
            <div class="span6">
                <button class="btn btn-primary" ng-click="editCatalog()" style="margin-right: 10px">Edit Catalog</button>
                <button class="btn btn-primary pull-right" ng-click="editSpace()" style="margin-right: 10px">Edit</button>
                <button class="btn btn-primary pull-right" ng-click="cloneSpace()" style="margin-right: 10px">Clone</button>
                <button ng-show="currentUser.isAdmin" class="btn btn-primary pull-right" ng-click="newSpace()" style="margin-right: 10px">New</button>
            </div>
        </div>
    </form>
</div>
<div class="modal-body" style='height: 100%;'>
    <div class="row-fluid clearfix" style='height: 100%;'>
        <div class="span12" style='height: 100%;'>
            <section class="gridStyle" ng-grid="gridOptions" ></section>
        </div>
    </div>
</div>