
<div class="modal-header">
    <div data-collapse="!isCollapsed">
    <h3>Select User</h3>
    </div>
    <div data-collapse="isCollapsed">
        <h3>Edit User ID: {{user.name}}</h3>
    </div>
</div>
<div class="modal-body">
    <div data-collapse="!isCollapsed">
        <div class="row-fluid clearfix">
            <div class="span6">
                <label for="userName">Users: </label>
                <select id="userName" ng-model="user" ng-options="p as p.name for p in users" ></select>
            </div>
            <div class="span6">
                <label for="userName">Selected User CE: {{user.ce.name}} </label>
            </div>
        </div>

    </div>

    <form>
        <div data-collapse="isCollapsed">
            <div class="row-fluid clearfix ">
                <div class="span6">
                    <label for="editUserName">User Name:
                        <input id="editUserName" ng-model="user.name" type="text" size="20" required/></label>
                    <label for="editAdmin">Is Administrator:
                        <input id="editAdmin" ng-model="user.isAdmin" type="checkbox" /></label>
                </div>
                <div class="span6">
                    <label for="pageName">Consumption Engines: </label>
                    <select id="pageName" ng-model="ce" ng-options="p as p.name for p in ces" ></select>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div data-collapse="!isCollapsed">
        <button ng-click="openUserModal()" class="btn btn-primary pull-left">Edit Users</button>
        <button class="btn btn-secondary" ng-click="cancelCurrentUserChanges()">Cancel</button>
        <button class="btn btn-primary" ng-click="saveCurrentUser()">Save</button>
    </div>
    <div data-collapse="isCollapsed">
        <button class="btn btn-primary" ng-click="newUser()">New Consumption Engine</button>
        <button class="btn btn-danger" ng-click="deleteUser()" ng-disabled="!user.$id()">Delete</button>
        <button class="btn btn-secondary" ng-click="cancelUserChanges()">Cancel</button>
        <button class="btn btn-primary" ng-click="saveUser()">Save</button>
    </div>
</div>