<div class="modal-header">
    <h3>Edit Inventory Space ID: {{is.id}}</h3>
</div>
<div class="modal-body">
    <div class="row-fluid clearfix">
        <div class="span6">
            <label for="pageName">Page: </label>
            <select id="pageName" ng-model="selectedPage" ng-options="item as item.name for item in pages.pages" >
                <option selected="selected" value="">{{is.pagename}}</option>
            </select>
        </div>

        <div class="span6">
            <label for="moduleName">Module: </label>
            <select id="moduleName" ng-model="selectedModule" ng-options="item as item.name for item in selectedPage.modules">
                <option selected="selected" value="">{{is.modulename}}</option>
            </select>    
        </div>
    </div>
    <label for="isName">Name: </label>
    <input id="isName" type="text" size="20" value="{{is.name}}"/>

    <label for="isSize">Select Size </label>
    <select id="isSize" ng-model="selectedSize" ng-options="item as item.name for item in sizes.sizes">
        <option selected="selected" value="">{{is.size}}</option></select>

    <label for="xpath">XPATH: </label>
    <input id="xpath" type="text" size="20" value="{{is.xpath}}"/>

    <div class="row-fluid clearfix">
        <div class="span6">
            <label>Catalogs: {{is.catalog}}               
        </div>
        <div class="span6">
            <label>Template: {{is.template}}</label>
        </div>
        <div class="span12">
            <button class="btn btn-primary"  ng-click="configureCatalog()">Configure Catalogs</button>
        </div>
    </div>



</div>
<div class="modal-footer">
    <div class="row-fluid clearfix">
        <div class="span6" style="text-align: left;">    
            <label for="isStatus" style="display: inline;">Status: </label>
            <select id="isStatus" style="display: inline;width: 80%;" ng-model="status" ng-options="item as item.name for item in statuses"></select>
        </div>
        <div class="span6">    
            <button ng-click="close(result)" class="btn btn-secondary" >Cancel</button>
            <button ng-click="close(result)" class="btn btn-primary" >Save</button>
        </div>
    </div>
