<h1>Create Page</h1>
<div class="container_24 clearfix" style="padding: 1em; width: auto;">
    <label for="pageList">Page Name</label>
    <select id="pageList" ng-model="selectedPage" ng-options="item as item.name for item in pages.pages">
        <option selected="selected" value="">{{pages.pages[0].name}}</option>
    </select>
    <footer>
        <button class="btn btn-primary" ng-click="openDialog('Add')">Add</button>
        <button class="btn btn-primary" ng-click="openDialog('Edit')">Edit</button>
        <a href="http://www.att.net/products"><button class="btn btn-primary" ng-click="openDialog('Preview')">Preview</button></a>
    </footer>
</div>

