<div class="modal-header">
    <h3>Preview Inventory Space</h3>
    <h5><i class="icon-pencil" ng-click="isContentEditable = !isContentEditable"></i>{{selectedOffer.name}}</h5>
</div>
<div class="modal-body">
    <div id="resizableDirective" style="width:{{is.width}}px;height:{{is.height}}px;background-color: white;visibility: visible;border: solid;">
        <div id="TDIS" contenteditable="{{isContentEditable}}"  data-tdata="{{is.id}}" data-tdata-replace="true" style="width: 100%;height: 100%;visibility: visible;">
            <img src="" alt="Placeholder Content"/></div></div>
    <div><span id="TDISWDirective">Width: {{is.width}}</span><span id="TDISHDirective">Height: {{is.height}}</span></div>
</div>
<!--div class="modal-footer">
    <button ng-click="close(result)" class="btn btn-primary" >Close</button>
</div-->
