<style>
a:focus {
outline: none;
}
a.trigger{
	position: absolute;
	background:green url(images/plus.png) 6% 55% no-repeat;
	text-decoration: none;
	font-size: 16px;
	letter-spacing:-1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color:#fff;
	padding:4px 12px 6px 24px;
	font-weight: bold;
	z-index:2;
}
a.trigger.left {
	left: 0;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
a.trigger.right {
	//right: 0;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
}
a.trigger:hover {
	background-color:#59B;
}
a.active.trigger {
	background:#666 url(images/minus.png) 6% 55% no-repeat;
}
.panel {
	color:#CCC;
	position: absolute;
	display: none;
	background: #000000;
	width: 300px;
	height: auto;
	z-index:1;
}
.panel.left {
	left: 0;
	padding: 20px 30px 20px 100px;
	border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-bottom-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.panel p {
	font-size:11px;
}
</style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="jquery.slidePanel.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	$('#panel1').slidePanel({
		triggerName: '#trigger1',
		position: 'fixed',
		triggerTopPos: '20px',
		panelTopPos: '10px',
		ajax: true,
		ajaxSource: 'ajax.html'
	});
});
</script>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut suscipit orci. Praesent egestas fermentum consectetur. Vestibulum vulputate nibh cursus sapien sagittis egestas. Suspendisse sed magna nisi. Sed faucibus eleifend sapien ut rutrum. Phasellus sed sollicitudin ante. Integer molestie molestie tortor, feugiat porttitor elit tincidunt id. In molestie justo quis turpis feugiat vitae consequat sem vulputate. Aenean orci elit, molestie eu sollicitudin pellentesque, lobortis ultricies nisl. Donec hendrerit lacus nec sapien mattis molestie commodo leo interdum. In a mi a sem lobortis mollis id eget magna. Quisque gravida semper scelerisque. In facilisis ullamcorper consectetur. Donec ornare pretium volutpat. Mauris fermentum, nisl et vehicula congue, orci velit pellentesque nulla, varius gravida turpis libero sed neque.</p>

<a href="#" id="trigger1" class="trigger left">about</a>
<div id="panel1" class="panel left">
</div>

