<section id="login" style="width: 350px;height: 350px">
    <div class="contentWrap" style="margin: auto 0">
    <h1>Login</h1>
    <form action="">
        <p><label for="username">Username: </label> <input type="text" id="username"></p>
        <p><label for="password">Password: </label> <input type="password" id="password"></p>
        <p><input type="button" id="authuser" value="Login" class="btn-primary"></p>     
        <a href="signup.html">Sign up? </a>              
    </form>
    </div>
</section> 