a { text-decoration: none;}
img {border: 0;}

h1 { margin: 0; padding: 0; }

.container { }
.container:after {content: ""; clear: both; display: block;}

.invSpace { max-width: 60em; height: 100%; margin: 0 auto 1em; position: relative; /*background: rgba(0, 0, 0, 0.125);*/ border: 1px solid #900; border-radius: 0.5em; overflow: hidden;}
.invSpace a { color:#3779CE; display: block; }
/*.invSpace a:after {content: ''; display: block; clear: both;}*/
.invSpace a:hover h1 { color:#900; }
.invSpace a.expand { /*display: none;*/ font-family: monospace;}
.invSpace .content { position: absolute; bottom: 0; left: 0; z-index: 5; width: 100%; background: rgba(0, 0, 0, 0.75); -moz-box-sizing: border-box; box-sizing: border-box;}
.invSpace .content h1 { margin:0.5em; padding-right: 2em; font-size: 1.5em; position: relative;}
.invSpace .content h1 a {text-overflow: ellipsis; white-space: nowrap; overflow: hidden; color: #eee; }
.invSpace h1 a.expand { position: absolute; right: 0; top: 4px;}
.invSpace .content p { padding:0.5em 1em 0; margin: 0; color: #fff; line-height: 1.5; display: none; position: absolute; bottom:48px; background: rgba(0,0,0,0.75);  }
.invSpace .content button { display: none;}

.invSpace.layout-b {}


.invSpace.wide-layout a.expand { display: none;}
.invSpace.wide-layout .content, .invSpace.wide-layout .imgWrap { position: relative; }
.invSpace.wide-layout .content { float: left; margin-top: 2em; width: 45%; background: none; }
.invSpace.wide-layout .content h1 { margin: 0; font-size: 2em;}
.invSpace.wide-layout .content h1 a { color: #3779CE; text-overflow: clip; white-space: pre-wrap;}

.invSpace.wide-layout .content p { margin:1em 0; color: #666; display: block; position: static; bottom: auto; background: none; padding: 0 1em 0 0;}
.invSpace.wide-layout .imgWrap { float: left; text-align: left; width: 38%; margin-right: 2%; text-align: center; }
.invSpace.wide-layout .content button { display: block; padding: 0.5em 1em; border:1px solid rgba(64,150,238,1); border-radius:5px; font-weight: bold; color: #fff; text-shadow: 0 1px 2px #3779CE; cursor: pointer; transition:padding 0.25s, font-size 0.25s;
    background: rgb(122,188,255);
    background: -moz-linear-gradient(top,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1)));
    background: -webkit-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
    background: -o-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
    background: -ms-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
    background: linear-gradient(to bottom,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );
}
.invSpace .content button:hover {
    background: rgba(64,150,238,1);
    padding: 0.5em 1em;
    font-size: 1.25em;
}

.imgWrap { width: 100%; height: 270px; overflow: hidden; position: absolute; top: 0; left: 0; z-index: 1; text-align: center; /*background: rgba(200, 0, 0, 0.5);*/}

.invSpace .imgWrap img { transition: all 1s ease-in-out;}
.invSpace .imgWrap img:hover {transform:rotate(5deg);}



/*
.invSpace.invSpace-right .imgWrap {float: right;}
.invSpace.invSpace-right .content { float: left;}
*/


@media (max-width:768px) {
    .invSpace.wide-layout .content h1 { font-size: 1.5em;}
}

@media (min-width:480px) and (max-width:768px) {

}


@media (min-width:320px) and (max-width:480px) {
    .invSpace.wide-layout .content { margin-top: 1em; }

}

@media (max-width:320px) {
    .invSpace {height: auto;}
    .invSpace .imgWrap { position: relative; height: auto; }
    .invSpace .imgWrap img { height: auto; width: 100%;  display: none;}
    .invSpace .content { position: static; background: none;}
    .invSpace .content h1 { font-size: 1em;}
    .invSpace .content h1 a { color: #3779CE;}
    .invSpace a.expand { z-index: 999; position: absolute; right: 0; top: 2px; display: block;}
    .invSpace .content p { display: none; position: static; bottom: auto; background: none; padding:0 0.5em 1em; color: #666; font-size: 0.875em;}
}
