<p>... and here's a horizontally-scrollable thing:</p>

                    <div class="scroll-x tiles">
                        <ul>
                        	<li>
						    	<div class="componentBox" style="overflow:hidden;height:400px;width:230px;">
							        <div data-role="content" style="overflow: scroll;-webkit-overflow-scrolling: touch;height:425px;width:255px;" >
							        	<ng-include src="'components/partials/componentList.html'"></ng-include>
							        </div>
						        </div>
					        </li>
                        	<li>
						    	<div class="componentBox" style="overflow:hidden;height:400px;width:230px;">
							        <div data-role="content" style="overflow: scroll;-webkit-overflow-scrolling: touch;height:425px;width:255px;" >
							        	<ng-include src="'components/angularjs/angularjs.html'"></ng-include>
							        </div>
						        </div>
					        </li>
					        
                        	<li>
						    	<div class="componentBox" style="overflow:hidden;height:400px;width:230px;">
							        <div data-role="content" style="overflow: scroll;-webkit-overflow-scrolling: touch;height:425px;width:255px;" >
							        	<ng-include src="'components/dynamicContent/dynamicContent.html'"></ng-include>
							        </div>
						        </div>
					        </li>
                        	<li>
						    	<div class="componentBox" style="overflow:hidden;height:400px;width:230px;">
							        <div data-role="content" style="overflow: scroll;-webkit-overflow-scrolling: touch;height:425px;width:255px;" >
							        	<ng-include src="'components/plan/plan.html'"></ng-include>
							        </div>
						        </div>
					        </li>
                        	<li>
						    	<div class="componentBox" style="overflow:hidden;height:400px;width:230px;">
							        <div data-role="content" style="overflow: scroll;-webkit-overflow-scrolling: touch;height:425px;width:255px;" >
							        	<ng-include src="'components/component/component.html'"></ng-include>
							        </div>
						        </div>
					        </li>
                        </ul>
                    </div>