	<style>
		div.bigorange {
	background:#f82;
	margin: 1em;
	display:block;
	ba             ckground:#f60;
	border:2px solid #EE2E26;
	text-align:center;
	text-decoration:none;
	color:#FFEFDF;
	padding:10px;
	font:bold 12px  "Lucida Grande", Arial, Helvetica, sans-serif;
	border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;
  
    box-shadow:
		3px 3px 6px rgba(0, 0, 0, .2),
		0px 0px 3px rgba(0, 0, 0, .1),
		inset 0px 5px 12px #930,
		inset 0px 15px 2px rgba(240, 150, 69, .5),
		inset 0px 25px 25px #930;
} 
div.bigorange:hover {
	background:#f82;
	border:2px solid #EE2E26;
	color:#fff;
    box-shadow:        
		2px 2px 4px rgba(0, 0, 0, .4),
		0px 0px 3px rgba(0, 0, 0, .1),
		inset 0 0 4px rgba(0, 0, 0, .6),
		inset 0px 10px 12px #930,
		inset 0px 20px 2px rgba(240, 150, 69, .5),
		inset 0px 25px 25px #930; 	
} 
	</style>
	
	<div class="component">
        <div class="componentViewPort" >
        	<div style='font:bold 14px  "Lucida Grande", Arial, Helvetica, sans-serif;' >
			<div ng-repeat="c in csi">
  <div id="enterButton" class="draggable bigorange" ng-click="clickHandler(c.text)" style="width:250px;z-index:0">{{c.text}}</div>

    	   </div>	
        </div>
     </div>   
     </div>