<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>Responsive Images</title>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>

<div class="container">
    <a class="tile" href="https://orionhub.org/edit/edit.html#/file/weolopez/weorion/weolopez/components/dynamicContent/responsiveImages/index.html" >
        <img class="imgWrap" src="img/landscape.jpg" alt="image alt"/>
        
        <div class="content">
            <h1>Tile 01 - Landscape</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam iusto molestias odit optio quia repudiandae, sint sit?</p>
        </div>
    </a>
    <a class="tile" href="https://orionhub.org/edit/edit.html#/file/weolopez/weorion/weolopez/components/dynamicContent/responsiveImages/index.html" >
        <img class="imgWrap" src="img/portrait.jpg" alt="image alt"/>
        <div class="content">
            <h1>Tile 02 - Portrait</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam iusto molestias odit optio quia repudiandae, sint sit?</p>
        </div>
   </a>
   <a class="tile wide" href="https://orionhub.org/edit/edit.html#/file/weolopez/weorion/weolopez/components/dynamicContent/responsiveImages/index.html" >
            <img class="imgWrap" src="img/landscape.jpg" alt="image alt"/>
        <div class="content">
            <h1>Tile 02 - Portrait</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam iusto molestias odit optio quia repudiandae, sint sit?</p>
        </div>
    </a>
   <a class="tile wide" href="https://orionhub.org/edit/edit.html#/file/weolopez/weorion/weolopez/components/dynamicContent/responsiveImages/index.html" >
        <img class="imgWrap" src="img/portrait.jpg" alt="image alt"/>
        <div class="content">
            <h1>Tile 02 - Portrait</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam iusto molestias odit optio quia repudiandae, sint sit?</p>
        </div>
    </a>
  </div>

<!--div class="monitor"/-->

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>