<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>Responsive Images</title>
    <link rel="stylesheet" href="http://portalmigration.att.net/prototypes/tDataAd/css/main.css"/>
</head>
<body>

    <div class="invSpace">
        <a href="http://www.att.com" class="imgWrap">
            <img src="http://portalmigration.att.net/prototypes/tDataAd/img/450x350.jpg" alt="image alt"/>
        </a>
        <div class="content">
            <h1><a href="http://www.att.com">Photo 450x350 - Landscape</a><a href="#" class="expand">+</a></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam iusto molestias odit optio quia repudiandae, sint sit?</p>
            <a href="http://www.att.com"><button>Learn More</button></a>
        </div>
    </div>
    <div class="invSpace">
        <a href="http://www.att.com" class="imgWrap">
            <img src="http://portalmigration.att.net/prototypes/tDataAd/img/240x320.png" alt="image alt"/>
        </a>
        <div class="content">
            <h1><a href="http://www.att.com">Photo 240x320 - Portrait</a><a href="#" class="expand">+</a></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam iusto molestias odit optio quia repudiandae, sint sit?</p>
            <a href="http://www.att.com"><button>Learn More</button></a>
        </div>
    </div>
    <div class="invSpace">
        <a href="http://www.att.com" class="imgWrap">
            <img src="http://portalmigration.att.net/prototypes/tDataAd/img/160x160.jpg" alt="image alt"/>
        </a>
        <div class="content">
            <h1><a href="http://www.att.com">Photo 160x160 - Portrait</a><a href="#" class="expand">+</a></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam iusto molestias odit optio quia repudiandae, sint sit?</p>
            <a href="http://www.att.com"><button>Learn More</button></a>
        </div>
    </div>

    <!-- Buildings here -->
    <div class="invSpace">
        <a href="http://www.att.com" class="imgWrap">
            <img src="http://portalmigration.att.net/prototypes/tDataAd/img/portrait.jpg" alt="image alt"/>
        </a>
        <div class="content">
            <h1><a href="http://www.att.com">Photo Portrait</a><a href="#" class="expand">+</a></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam iusto molestias odit optio quia repudiandae, sint sit?</p>
            <a href="http://www.att.com"><button>Learn More</button></a>
        </div>
    </div>
    <div class="invSpace">
        <a href="http://www.att.com" class="imgWrap">
            <img src="http://portalmigration.att.net/prototypes/tDataAd/img/landscape.jpg" alt="image alt"/>
        </a>
        <div class="content">
            <h1><a href="http://www.att.com">Photo Landscape with Very Long Headline Which Should Ellipsis Out If Width Is Way Too Small</a><a href="#" class="expand">+</a></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam iusto molestias odit optio quia repudiandae, sint sit?</p>
            <a href="http://www.att.com"><button>Learn More</button></a>
        </div>
    </div>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/recommendation.js"></script>
    
    
    
</body>


</html>