<ion-view view-title="{{page.current.title}}" id="story">
    <style>
	    #story {
	    	padding: 0;
	    }
        #roomlogin:hover {
            color: #0a9ec7;
        }
        #loginroom:hover {
            color: #0a9ec7;
        }
        .story{
            padding: 45px 0 0 0 ;
        }
    </style>    
    <ion-header-bar class="bar-stable" style="height: 50px" >
        <h1 class="" style="margin-top: -8px;">Properties</h1>
        <button class="button button-icon button-clear ion-share" ng-click="story.open()"></button>
     </ion-header-bar>
    
    <ion-content class="padding story" scroll="true">    
   		<div class="list">
	    	<label class="item item-icon-right" ng-repeat="key in story.getKeys()" ng-click="story.openModal(key)">
			    <div class="input-label" ng-click="story.openModal(key)">
			      {{key}}
			    </div>
			</label>
		</div>
    </ion-content>
</ion-view>
