<div style="font:bold 12px  'Lucida Grande', Arial, Helvetica, sans-serif;">
			<a title="component.html" href="https://orionhub.org/edit/edit.html#/file/weolopez/weorion/weolopez/components/component/component.html">edit component.html</a>
			<br>	<a title="index.html" href="http://home.orionhub.org:8080/weolopez/components/component/index.html">component index.html</a>
			<br>	<a title="Edit index.html" href="https://orionhub.org/edit/edit.html#/file/weolopez/weorion/weolopez/components/component/index.html">edit component index</a>
			<br>	<a title="component demo.html" href="http://home.orionhub.org:8080/weolopez/components/component/demo.html">component demo</a>
			<br>	<a title="Edit component demo.html" href="https://orionhub.org/edit/edit.html#/file/weolopez/weorion/weolopez/components/component/demo.html">edit component demo</a>
			<br>	<a title="component demo.css" href="http://home.orionhub.org:8080/weolopez/components/component/demo.css">component css</a>
			<br>	<a title="Edit component demo.css" href="https://orionhub.org/edit/edit.html#/file/weolopez/weorion/weolopez/components/component/demo.css">edit component css</a>
			<br>	<a title="component demo.js" href="http://home.orionhub.org:8080/weolopez/components/component/demo.js">component js</a>
			<br>	<a title="Edit component demo.js" href="https://orionhub.org/edit/edit.html#/file/weolopez/weorion/weolopez/components/component/demo.js">edit component js</a>
			<br>	<a title="component JSFiddle" href="http://jsfiddle.net/gh/get/jquery/1.8/weolopez/weorion/tree/master/weolopez/components/component/">component in jsfiddle</a>
			<br>	<a title="component Github" href="http://github.com/weolopez/weorion/tree/master/weolopez/components/component/">git</a>
<br>
<a title="plan.html" href="https://orionhub.org/edit/edit.html#/file/weolopez/weorion/weolopez/components/component/component.html">Edit Plan</a>
</div>
