
<script src="https://raw.github.com/roncioso/Flip-jQuery/master/jquery.flip.min.js"></script>
<style>
	.flippyContent {
		display: none;
	}	

</style>
<div>
	
	Masonry container config.
	demo.html is ongoing testbed for masonry.html
</div>		
		<div id="MasonryPanel" class="flippyContent">
				<input id="CloseEditor" type="button" value="Close" onclick="$('#container').revertFlip();window.location.reload();">
				<iframe id="MasonryFrame" style="background-color:silver;width:100%;height:850px;" name="EFrame" style="" src=""></iframe>
		</div>
		
		<div id="Menu" style="display:none;background-color:white;width:200px;height:100px;position:absolute;left:100px;top:150px;">
			Links and icons
		</div>
<script>
	demo();
</script>

		