<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mauricio Lopez Resume</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

<link href='http://fonts.googleapis.com/css?family=Roboto:100,100italic' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      
      h1 { font-family: ‘Metrophobic’, Arial, serif; font-weight: 400; }
      h2 { font-family: ‘Metrophobic’, Arial, serif; font-weight: 400; }
    </style>

  
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Resume</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="http://dev.weolopez.com">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="mailto:weolopez@gmail.com">Contact</a></li>
              <li><a href="https://orionhub.org/edit/edit.html#/file/weolopez/weorion/weolopez/components/resume/resume.html">Edit</a></li>
              
              <!--li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li-->
            </ul>
            <!--form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Name">
              <input class="span2" type="text" placeholder="Email">
              <button type="submit" class="btn">Register</button>
            </form-->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1 style="font-family: 'Roboto', sans-serif;">Mauricio Lopez</h1>
        <p>Is a professional software developer at AT&T since 1995.</p>
        <p><a href="http://home.orionhub.org:8080/weolopez/components/resume/Resume.html" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>T.Data</h2>
          <p>Senior Technical Architect for TDICE, a component of T.Data Big Data platform.</p>
          <p><a class="btn" href="http://home.orionhub.org:8080/weolopez/components/dynamicContent/dynamicContentWT/index.html">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Digital Life Online Store Front</h2>
          <p>Senior Architect for the development of DLOSF.</p>
          <p><a class="btn" href="https://my-digitallife.att.com/learn/">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>DSL Order, Support and Billing</h2>
          <p>Senior Technical Architect SE DSL Ordering, Support and Billing Application Development.</p>
          <p><a class="btn" href="https://www.fastaccess.com/content/consumer/manageAccount.jsp">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Integrated Order Management</h2>
          <p>Lead Application Architect responsible for development of BellSouths next generation order management platform.</p>
          <p><a class="btn" href="http://home.orionhub.org:8080/weolopez/components/resume/Resume.html">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Wholesale</h2>
          <p>Technical Architect responsible for ICS WebPortal, Service Order Review Tool (SORT), LCSC Toolkit, EASY</p>
          <p><a class="btn" href="http://home.orionhub.org:8080/weolopez/components/resume/Resume.html">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>eStore</h2>
          <p>Developer of web applications. Authored and contributed to 5 patents.</p>
          <p><a class="btn" href="http://home.orionhub.org:8080/weolopez/components/resume/MyPerfomancePlan2013-6.html">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Direct Order Entry</h2>
          <p>Assembly programming for phone service order entry distributed client application (DOE).</p>
          <p><a class="btn" href="http://home.orionhub.org:8080/weolopez/components/mongo/index.html">View details &raquo;</a></p>
       </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Copyright 2013</p>
      </footer>

    </div> <!-- /container -->
    <script src="/weolopez/assets/js/jquery.js"></script>
    <script src="/weolopez/assets/js/bootstrap-transition.js"></script>
    <script src="/weolopez/assets/js/bootstrap-alert.js"></script>
    <script src="/weolopez/assets/js/bootstrap-modal.js"></script>
    <script src="/weolopez/assets/js/bootstrap-dropdown.js"></script>
    <script src="/weolopez/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/weolopez/assets/js/bootstrap-tab.js"></script>
    <script src="/weolopez/assets/js/bootstrap-tooltip.js"></script>
    <script src="/weolopez/assets/js/bootstrap-popover.js"></script>
    <script src="/weolopez/assets/js/bootstrap-button.js"></script>
    <script src="/weolopez/assets/js/bootstrap-collapse.js"></script>
    <script src="/weolopez/assets/js/bootstrap-carousel.js"></script>
    <script src="/weolopez/assets/js/bootstrap-typeahead.js"></script>
  </body>
</html>
